modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 5000
externalPort = 80

[packager]
language = "javascript"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[workflows]
runButton = "dev server"

[[workflows.workflow]]
name = "dev server"
mode = "sequential"
author = 36326079

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
